<div class="container-sm">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="true">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/exam" routerLinkActive="true">exam</a>
      </li>
      @if (authService.usersSignal()) {
        <li>
          <a class="nav-link" routerLink="/logout" routerLinkActive="active">logout</a>
        </li>

      }
      @else if (authService.usersSignal() == null) {
        <li>
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
      }

    </ul>
  </div>
</div>
<div class="container-sm">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

